* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    color: #ffffff;
    background-color: #000000;
}

header {
    margin: 95.38px 0 171.49px 90.77px;
}

header nav ul a {
    display: flex;
    background-color: #000000;
    flex-direction: row;
}

.back-link {
    text-decoration: none;
}

.back-text {
    font-weight: 500;
    font-size: 31.3194px;
    line-height: 38px;
    padding-left: 20.26px;
    color: #ffffff;
}

.product-design {
    display: flex;
    flex-direction: column;
    margin-bottom: 283.42px;
}

.product-design h1 {
    width: 847.14px;
    height: 154px;
    font-weight: 400;
    font-size: 80.4722px;
    line-height: 77px;
    text-align: center;
    margin: 0 auto 156.87px;
}

.product-design img {
    width: 1336.84px;
    height: 752.5px;
    margin: 0 auto 102.85px;
}

.product-design p {
    width: 1034.82px;
    height: 149.5px;
    font-weight: 300;
    font-size: 30px;
    line-height: 29px;
    text-align: center;
    margin: 0 auto;
}

.products {
    display: flex;
    width: 1530px;
    height: 1500.57px;
    flex-direction: row;
    justify-content: center;
    margin: 0 auto 392.29px;
}

.products p {
    width: 438.69px;
    height: 377.11px;
}

.left-products {
    display: flex;
    width: 539.66px;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 86.79px 0 125.62px;
}

.left-products img {
    width: 539.66px;
    height: 949.51px;
}

.left-products p {
    align-self: flex-end;
    font-weight: 300;
    font-size: 30px;
    line-height: 29px;
    text-align: right;

}

.right-products {
    display: flex;
    width: 567.94px;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 108.01px;
}

.right-products p {
    font-weight: 300;
    font-size: 30px;
    line-height: 29px;
}

.right-products img {
    width: 567.94px;
    height: 853.92px;
}

.review h1 {
    font-weight: 400;
    font-size: 74.3554px;
    line-height: 71px;
    text-align: center;
    margin-bottom: 90.89px;
}