* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    color: #ffffff;
    background-color: #000000;
}

.main {
    width: 100%;
}

.header-font {
    font-size: 22.15px;
    font-weight: 400;
    line-height: 27px;
}

.logo-font {
    font-size: 22.15px;
    font-weight: 600;
    line-height: 27px;
}

header {
    display: flex;
    align-items: center;
    max-height: 165px;
    width: 100%;
    margin-bottom: 134.87px;
}

header nav {
    display: flex;
    width: 100%;
    padding: 5rem;
    justify-content: space-between;
    align-items: center;
}

header nav div ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    gap: 3.4rem;
}

.project-link {
    text-decoration: none;
    color: #ffffff;
}

.project-link:visited {
    text-decoration: none;
}

.agency-description {
    display: flex;
    width: 100%;
    max-height: 350px;
    margin-bottom: 286.17px;
    align-items: center;
}

.agency-description h2 {
    margin: 0 auto;
    max-width: 750.29px;
    font-weight: 400;
    text-align: center;
    font-size: 34.8438px;
    line-height: 33px;
}

.portfolio {
    margin-bottom: 504px;
}

.portfolio-text {
    display: flex;
    max-width: 100%;
    max-height: 350px;
    align-items: center;
    justify-content: center;
    margin-bottom: 125.82px;
}

.portfolio-pics {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 0 360px;
}

.portfolio-item {
    display: flex;
    align-items: center;
    max-width: 565px;
    max-height: 545px;
}

h1 {
    font-size: 96px;
    font-weight: 400;
    line-height: 91.7px;
}

.about {
    display: flex;
    max-width: 1117.79px;
    max-height: 733.61px;
    flex-direction: column;
    margin: 0 auto;
    margin-bottom: 343.18px;
}

.about-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40.72px;
}

.about-text p {
    align-self: center;
    font-weight: 300;
    font-size: 31.3802px;
    line-height: 29.98px;
    text-align: center;
    max-height: 170.46px;
}

.about-text h1 {
    margin-bottom: 55.97px;
}

.about-pics {
    display: flex;
    width: 100%;
}

.about-pics img {
    width: 279.32px;
    height: 374.46px;
}

.services {
    margin-bottom: 320.91px;
}

.services-text {
    display: flex;
    justify-content: center;
    margin-bottom: 97.78px;
}

.services-items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 0 auto;
    max-width: 1117.79px;
}

.services-boxes {
    display: flex;
    flex-direction: column;
    max-width: 558.51px;
    max-height: 516.95px;
    padding: 43.7px 30.9px 76.82px 30.9px;
}

#box1 {
    background-color: #F2F2F2;
}

#box2 {
    background-color: #E2E2E2;
}

#box3 {
    background-color: #C0C0C0;
}

#box4 {
    background-color: #B4B4B4;
}

.box-title {
    word-spacing: 11rem;
    max-width: 496.72px;
    max-height: 116px;
    font-weight: 700;
    font-size: 60.8412px;
    line-height: 58px;
    color: #000000;
    margin-bottom: 25.26px;
}

.box-text {
    max-width: 496.72px;
    max-height: 156px;
    font-weight: 400;
    font-size: 26.8575px;
    line-height: 26px;
    color: #000000;
    margin-bottom: 73.81px;
}

.box-quote {
    max-width: 149px;
    font-weight: 400;
    font-size: 26.8575px;
    line-height: 26px;
    color: #000000;
}

.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 122.63px;
    margin-bottom: 258.4px
}

.contact-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 6px;
    align-items: center;
    font-weight: 400;
    font-size: 63.7913px;
    line-height: 61px;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-height: 64.09px;
    width: 100%;
    background-color: #ffffff;
    padding: 22.5px 90.15px 22.5px 100.68px;
}

.left-bar {
    height: auto;
    max-width: 148px;
    text-align: center;
}

.left-bar p {
    font-weight: 600;
    font-size: 20px;
    line-height: 19px;
    color: #000000;
}

.right-bar ul {
    display: flex;
    width: auto;
    flex-direction: row;
    justify-content: space-between;
    gap: 98.81px;
}

.right-bar ul li {
    font-weight: 300;
    font-size: 20px;
    line-height: 19px;
    color: #000000;
    list-style-type: none;
}

@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-device-pixel-ratio: 2) {
    header {
        margin-bottom: 48.05px
    }
    
    header nav {
        padding: 34.07px 36.27px;
    }
    
    .header-text {
        display: none;
    }

    .logo-font {
        font-size: 8.94673px;
            line-height: 11px;
    }

    .agency-description {
        margin-bottom: 95.98px;
    }

    .agency-description h2 {
        padding: 0 90.26px;
        font-size: 11.43px;
        line-height: 10.92px;
    }

    h1 {
        font-size: 24.85px;
        line-height: 23.74px;
    }

    .portfolio {
        margin-bottom: 105.66px;
    }

    .portfolio-pics {
        display: flex;
        width: 209.5px;
        height: 202px;
        overflow: hidden;
        padding: 0;
        gap: 19.33px;
    }

    .portfolio-item {
        display: flex;
        align-items: normal;
    }

    .about-pics {
        overflow: hidden;
        object-fit: scale-down;
    }

    .about-pics img {
        width: 109.39px;
        height: 146.65px;
    }

    figure {
        position: relative;
        overflow: visible;
        width: 100%;
        height: 100%;
        margin: 0;
        left: 0;
    }

    figure img {
        height: auto;
        float: left;
    }

    .about {
        margin-bottom: 91.03px;
    }

    .about-text p {
        font-size: 8px;
        line-height: 8px;
        padding: 0 50.6px;
    }

    .services {
        margin-bottom: 83.58px;
    }

    .services-items {
        display: flex;
        overflow: hidden;
        flex-direction: row;
        height: 200px;
        gap: 20px;
    }

    .services-boxes {
        height: 200px;
        aspect-ratio: 1/1.08;
    }

    .contact {
        gap: 43.12px;
        margin-bottom: 70.26px;
    }

    .box-title {
        font-size: 15.3928px;
        line-height: 15px;
    }

    .box-text {
        font-size: 6.79492px;
        line-height: 6px;
        margin-bottom: 22.14px;
    }

    .box-quote {
        font-size: 6.79492px;
        line-height: 6px;
    }

    .contact-info {
        font-size: 17.2844px;
        line-height: 17px;
    }

    footer {
        background-color: #000000;
        justify-content: center;
    }

    .left-bar p {
        color: #ffffff;
    }

    .right-bar {
        display: none;
    }
}